    {% extends "base.html" %}

    {% block content %}
        <h1 class="header center orange-text">{{ header }}</h1>
        <ul class="collection with-header">
            <h4 class="center">MAC - ONLINE</h4>
            <p class="center">Mac-address;name</p>
            <hr>
            {% for m in mac_list %}
            <li class="bg-light collection-item mb-2">{{m}}
            </li>
            {% endfor %}
        </ul>

        <ul class="collection with-header">
            <h4 class="center">MAC - OFFLINE</h4>
            <p class="center">Mac-address;name</p>
            <hr>
            {% for m in offline %}
            <li class="bg-light collection-item mb-2">{{m}}
            </li>
            {% endfor %}
        </ul>

        <ul class="collection with-header">
            <h4 class="center">NEW MAC LIST</h4>
            <p class="center">Mac-address;hostname;vendorname</p>
            <hr>
            {% for x in new_mac %}
            <li class="bg-light collection-item">{{x}}
                <form class="row" id="myform" method="POST">
                    <input class="col-11" type="text" name='name' id='name' placeholder='Name' />
                    <input type="hidden" name="mac_val" value="{{x}}">
                    <a onclick='this.parentNode.submit(); return false;' href="/" type="submit" id="submit"
                        class="btn-floating btn-medium waves-effect waves-light light-green"><i type="submit"
                            class="material-icons">add_circle</i></a>
                    <a onclick="black('{{x}}')" class="btn-floating btn-medium waves-effect waves-light red ml-1"><i
                            class="material-icons">delete</i></a>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function black(mac) {
            fetch("/blacklist/" + mac, {
                method: "POST"
            })
            window.location.reload()
        }
    </script>
{% endblock %}