<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site_title }}</title>

  <!-- CSS  -->
    <link href="{{ url_for('static',filename='css/main.css') }}" type="text/css" rel="stylesheet"
        media="screen,projection" />
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"
        media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-reboot.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-grid.min.css">


</head>

<body>
  <!--NAVIGATION BAR-->
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" class="brand-logo">{{ site_title }}</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/12">Home</a></li>
                <li><a href="/12">MAC</a></li>
                <li><a href="blacklist">Blacklist</a></li>
            </ul>
            <a data-activates="nav-mobile" class="button-collapse d-none"><i class="material-icons">menu</i></a>
        </div>
    </nav>

  <!-- Container -->
  <div class="container">
    <h1 class="h2 center">Blacklisted Mac-Adressen </h1>
    <ul class="collection with-header">
      <h4 class="center">Blacklisted MAC Adressen</h4>
      {% for b in blacklist_mac %}
      <li class="collection-item mb-2">{{b}}
      </li>
      {% endfor %}
    </ul>
  </div>



  <!-- Footer -->
  <footer class="page-footer orange">
  </footer>

</body>

</html>