<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site_title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{{ url_for('static',filename='css/pro/css/all.css') }}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{{ url_for('static',filename='css/main.css') }}" type="text/css" rel="stylesheet" media="screen" />


</head>

<body class="container bg-success">
    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="header center orange-text" >{{ header }}</h1>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mac</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blacklist">Blacklist</a>
            </li>
          </ul>
        </div>
      </nav>

    <!--CONTAINER-->
    <div class="container bg-danger bg-gradient m">
        <h3>MAC - Adresses <i class="fa-solid fa-alien"></i></h3>
        <ul class="list-group">
            {% for x in mac_list %}
            <li class="list-group-item">{{x}}</li>
            {% endfor %}
        </ul>
        <hr><br>
        <h3>Unknown Mac <i class="fa-solid fa-alien-8bit"></i></h3>
        <ul class="list-group p-5">
            {% for x in new_mac %}
            <li class="list-group-item" id="but1">{{x}}
                <div class="inputtt">
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                </div>
                    <a class=""><i class="fa-solid fa-square-check"></i></a>
                </div>
                <div>
                    <a class="flip"><i class="rechts fa-solid fa-plus"></i></a>
                    <a onclick="black('{{x}}')" class=""><i class="rechts fa-solid fa-trash"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <script>
    $(document).ready(function() {
        $(".flip").click(function() {
            $(".panel").slideToggle("slow");
        });
    });

        function black(x) {
            fetch("/blacklis/" + x, {
                method: "POST"
            })

        }
        function know(x, name) {
            document.getElementById('inputtt').style.display = "block";
        }

    </script>

    <!--FOOTER-->
    <footer class="page-footer orange">
    </footer>

</body>

</html>